{% extends 'base.html' %}

{% block content %}
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
            <h1 class="text-align-center">About Us</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga nesciunt pariatur itaque neque, quos molestiae inventore doloremque quia veniam, ullam magni incidunt veritatis quae!
            </p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et laudantium temporibus sint.</p>
        </div>
    </div>

{% endblock %}
