body{
    margin-bottom: 40px;
}

.text-align-center{
    text-align: center;
}

.navbar-default {
    background-color: #0C4B33;
    border-color: #0F8356;
}

.navbar-default .navbar-brand {
    color: #fff;
}

.navbar-default .navbar-brand:hover {
    color: #fff;
}

.navbar-default .navbar-nav > li > a:hover {
    color: #999;
}

.navbar-default .navbar-toggle {
    border-color: transparent;
    background-color: #0C4B33;
}

.navbar-default .navbar-toggle:hover {
    border-color: transparent;
    background-color: #0F8356;
}
